@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');
body{
    font-family: 'Roboto';
    display:flex;
    flex-direction: column;
    h1{
        display:flex;
        justify-content: center;
    }
    .project{
        border-style: solid;
        border-color: red;
        border-width: 3px;
        h2{
            font-weight: 900;
        }
        div{
            border-top-style: dashed;
        }

    }
}